<div class="container py-5">
   <div class="row g-4">
    <div class="col-md-4" *ngFor="let recipe of recipes | slice:0:3">
      <div class="card position-relative h-100 recipe-card">
        <div class="image-container">
          <img [src]="recipe.image" class="card-img-top" [alt]="recipe.title" />
          <button class="btn position-absolute top-0 end-0 m-2 p-1 bg-white rounded-circle border-0">
            <i class="bi bi-heart text-danger"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <div class="d-flex align-items-center">
            <div class="text-warning me-2">
              <ng-container *ngFor="let star of getFullStars(recipe.rating)">
                <i class="bi bi-star-fill"></i>
              </ng-container>
              <ng-container *ngIf="hasHalfStar(recipe.rating)">
                <i class="bi bi-star-half"></i>
              </ng-container>
              <ng-container *ngFor="let s of getEmptyStars(recipe.rating)">
                <i class="bi bi-star"></i>
              </ng-container>
            </div>
            <span class="text-muted">{{ recipe.rating }}/5</span>
            <span class="text-muted ms-2">({{ recipe.reviews }} avis)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
